---
layout: default
title: By cuisine
permalink: /by-cuisine/
---

<article class="all-recipes">
  <h1 class="all-recipes__title">By cuisine</h1>
  <p class="all-recipes__lede">{{ site.recipes.size }} recipes from across our regular rotation.</p>

  {% assign cuisines = site.recipes | map: "cuisine" | uniq | compact | sort %}
  {% for cuisine in cuisines %}
    {% assign in_cuisine = site.recipes | where: "cuisine", cuisine | sort: "name" %}
    {% assign anchor = cuisine | downcase | replace: ' ', '-' %}
    <section class="all-recipes__section" id="{{ anchor }}">
      <h2 class="all-recipes__section-title">{{ cuisine }} <span class="meta">{{ in_cuisine.size }}</span></h2>
      <ul class="all-recipes__list">
        {% for r in in_cuisine %}
          <li><a href="{{ r.url | relative_url }}">{{ r.name }}</a>{% if r.effort %}<span class="meta">{{ r.effort }}</span>{% endif %}</li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</article>
