{%- comment -%}
  Render recipeIngredient. Uniform shape:
    recipeIngredient:
      - heading: optional section name
        items:
          - {quantity?, quantity_max?, unit?, item?}
  Pass `inline_sub=false` to suppress sub-recipe expansion.
{%- endcomment -%}
{%- assign list = include.list -%}
{%- for section in list -%}
  {%- if section.heading and section.heading != "" -%}
    <h3 class="ingredient-section">{{ section.heading }}</h3>
  {%- endif -%}
  <ul class="ingredient-list">
    {%- for item in section.items -%}
      {% include ingredient_item.html item=item inline_sub=include.inline_sub %}
    {%- endfor -%}
  </ul>
{%- endfor -%}
