---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

{% if page.tag %}
  {% assign matched = site.recipes | where_exp:"r","r.tags contains page.tag" %}
{% elsif page.meal %}
  {% assign matched = site.recipes | where_exp:"r","r.meal contains page.meal" %}
{% elsif page.cuisine %}
  {% assign matched = site.recipes | where:"cuisine", page.cuisine %}
{% else %}
  {% assign tag_slug = page.title | downcase %}
  {% assign matched = site.recipes | where_exp:"r","r.tags contains tag_slug" %}
{% endif %}

<ul>
  {% for recipe in matched %}
    <li>
      <a href="{{ recipe.url }}">{{ recipe.name }}</a>
    </li>
  {% endfor %}
</ul>
