---
layout: index
---
<article class="recipe">

  {% if page.image %}
    <img style="max-width: 100%" src="{{ page.image }}" alt="Photo of a {{ page.name | downcase }}">
  {% endif %}

  <h1>{{ page.name }}</h1>
  <p>Based on this <a href="{{ page.isBasedOn }}">recipe</a> by {{ page.author.name }}.</p>

  <p>{{ page.description }}</p>

  <ul>
    <li>Prep time: {{ page.prepTime | remove_first: "PT" | replace: 'H', ' hours' | replace: 'M', ' minutes' }}</li>
    <li>Cook time: {{ page.cookTime | remove_first: "PT" | replace: 'H', ' hours' | replace: 'M', ' minutes' }}</li>
    <li>Yield: {{ page.recipeYield }}</li>
  </ul>

  <h2>Ingredients</h2>
  <ul>
    {% for recipeIngredientItem in page.recipeIngredient %}
      <li>{{ recipeIngredientItem }}</li>
    {% endfor %}
  </ul>

  <h2>Steps</h2>
  <ul>
    {% for recipeInstructionItem in page.recipeInstructions %}
      <li>{{ recipeInstructionItem }}</li>
    {% endfor %}
  </ul>

  {{ content }}
</article>
