---
permalink: /404.html
layout: default
title: Not found
---
<article class="page" style="text-align:center; padding-top: 4rem;">
  <p class="recipe-cuisine">404</p>
  <h1 class="page-title">We've lost the page.</h1>
  <p>It might have been renamed, deleted, or never existed.</p>
  <p><a href="<%= relative_url '/' %>">Back to the cookbook</a></p>
</article>
